
.modernItem{
    width: 500px;
    color: whitesmoke;
    font-size: 20px;
    margin: 0 auto;
}

.modernItemName{
    font-weight: bold;
    padding: 20px;
    color: darkslategrey;
}

.line{
    border: 1px solid rgb(223, 216, 216);
}

.buttonDelete{
    background-color:rgb(112, 90, 236);
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    color: white;
    float:right;
    margin-top: -5px;
    cursor: pointer;

}

.buttonDelete:hover{
    outline: none;
    background-color: darkred;
}